{% extends "base.html" %}
{% block title %}Status Update on Your Appointment Request{% endblock %}
{% block content %}
<div class="content">
    <p>Dear {{ user_name }},</p>

    <p>Thank you for your request to meet with Gurudev for 
    {% for app_dignitary in appointment.appointment_dignitaries %}
        {% set dignitary = app_dignitary.dignitary %}
        {{ dignitary.honorific_title|format_honorific_title }} {{ dignitary.first_name }} {{ dignitary.last_name }}{% if not loop.last %}{% if loop.index == appointment.appointment_dignitaries|length - 1 %} and {% else %}, {% endif %}{% endif %}
    {% endfor %}.
    </p>

    <p>Your appointment request was processed earlier, and at this time, we are unable to schedule a new meeting as 
    {% for app_dignitary in appointment.appointment_dignitaries %}
        {% set dignitary = app_dignitary.dignitary %}
        {{ dignitary.honorific_title|format_honorific_title }} {{ dignitary.first_name }} {{ dignitary.last_name }}{% if not loop.last %}{% if loop.index == appointment.appointment_dignitaries|length - 1 %} and {% else %}, {% endif %}{% endif %}
    {% endfor %} 
    {% if appointment.appointment_dignitaries|length > 1 %}have{% else %}has{% endif %} already had the opportunity to meet with Gurudev.</p>

    <p>For your reference, the details of your meeting request are:</p>
    
    <ul>
        <li>Meeting Request ID: {{ appointment.id }}</li>
        <li>Appointment Requested For: 
            {% for app_dignitary in appointment.appointment_dignitaries %}
                {% set dignitary = app_dignitary.dignitary %}
                {{ dignitary.honorific_title|format_honorific_title }} {{ dignitary.first_name }} {{ dignitary.last_name }}{% if not loop.last %}{% if loop.index == appointment.appointment_dignitaries|length - 1 %} and {% else %}, {% endif %}{% endif %}
            {% endfor %}
        </li>
    </ul>

    {% if appointment.secretariat_notes_to_requester %}
    <p>Message from Secretariat:</p>
        <div style="background-color: #f9fafb; padding: 15px; border-radius: 5px; margin: 8px 0;">
            {{ appointment.secretariat_notes_to_requester | replace('\n', '<br>') | safe }}
        </div>
    {% endif %}

    <p>We appreciate your understanding and remain available should you have any further questions or require assistance.</p>

    <p>Warm regards,</p>
    <p>Office of Gurudev Sri Sri Ravi Shankar, USA</p>
</div>
{% endblock %} 