{% extends "base.html" %}
{% block title %}Appointment Request Created{% endblock %}
{% block content %}
<!-- <h2>Appointment Request Created</h2> -->

<div class="content">
    <p>Dear {{ user_name }},</p>

    <p>Thank you for your request to meet with Gurudev.</p>

    <p>We have received your meeting request and it is currently under review. Please note that this is not a confirmation of the appointment. Our team is carefully considering the request and will provide an update as soon as possible.</p>

    <p><strong>Below are the details of your request:</strong></p>
    <ul>
        <li><strong>Meeting ID:</strong> {{ appointment.id }}</li>
        <li><strong>Requested Date:</strong> {{ appointment.preferred_date }} {{ appointment.preferred_time_of_day or '' }}</li>
        <li><strong>Location:</strong> {{ appointment.location.name }} - {{ appointment.location.city }}, {{ appointment.location.state }}</li>
        <li><strong>Group Size:</strong> {{ appointment.appointment_dignitaries | length }} attendee(s)</li>
        <li><strong>Dignitary(ies):</strong>
            <ul>
            {% for app_dignitary in appointment.appointment_dignitaries %}
                {% set dignitary = app_dignitary.dignitary %}
                <li>{{ dignitary.honorific_title|format_honorific_title }} {{ dignitary.first_name }} {{ dignitary.last_name }}</li>
            {% endfor %}
            </ul>
        </li>
    </ul>

    <p>If we require any additional information, we will reach out to you.</p>

    <p>Warm regards,</p>
    <p>Office of Gurudev Sri Sri Ravi Shankar, USA</p>
</div>
{% endblock %} 
