{% extends "base.html" %}
{% block title %}Additional Information Needed for Your Meeting Request{% endblock %}
{% block content %}
<div class="content">
    <p>Dear {{ user_name }},</p>

    <p>Thank you for your request to meet with Gurudev. As we review your submission (Meeting Request ID: {{ appointment.id }}) for 
    {% for app_dignitary in appointment.appointment_dignitaries %}
        {% set dignitary = app_dignitary.dignitary %}
        {{ dignitary.honorific_title|format_honorific_title }} {{ dignitary.first_name }} {{ dignitary.last_name }}{% if not loop.last %}{% if loop.index == appointment.appointment_dignitaries|length - 1 %} and {% else %}, {% endif %}{% endif %}
    {% endfor %}, we kindly request some additional details to proceed further.</p>

    {% if appointment.secretariat_notes_to_requester %}
        <p><strong>Please provide the following information:</strong>
            <div style="background-color: #f9fafb; padding: 15px; border-radius: 5px; margin: 8px 0;">
                {{ appointment.secretariat_notes_to_requester | replace('\n', '<br>') | safe }}
            </div>
        </p>
    {% else %}
        <p>Please reach out to the secretariat at <a href="mailto:secretariat@artofliving.org">secretariat@artofliving.org</a> for more details.</p>
    {% endif %}

    <p>Once you have the requested details, kindly contact us with this additional information.</p>

    <p>We appreciate your cooperation and will review your updated submission as soon as we receive it.</p>

    <p>Warm regards,</p>
    <p>Office of Gurudev Sri Sri Ravi Shankar, USA</p>
</div>
{% endblock %} 