option_settings:
  # VPC Configuration
  aws:ec2:vpc:
    VPCId: vpc-0438e0009173b2686
    Subnets: subnet-036474fbdc183d1f9,subnet-034c5bdd7c9fea451,subnet-0bc92bf74c3a249b8
    ELBSubnets: subnet-036474fbdc183d1f9,subnet-034c5bdd7c9fea451,subnet-0bc92bf74c3a249b8
    ELBScheme: public
    AssociatePublicIpAddress: true
  
  # Environment Variables
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: uat
    PYTHONPATH: /var/app/current:$PYTHONPATH
    POSTGRES_USER: aolf_gsec_user
    POSTGRES_PASSWORD: {{resolve:secretsmanager:arn:aws:secretsmanager:us-east-2:851725315788:secret:rds!db-f1759782-588f-413c-8d45-55675a2138bf-ZDATni:SecretString:password}}
    POSTGRES_HOST: aolf-gsec-db-uat.cxg084kkue8o.us-east-2.rds.amazonaws.com
    POSTGRES_PORT: 5432
    POSTGRES_DB: aolf_gsec
  
  # Instance Configuration
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role 