Resources:
  AWSEBSecurityGroupRules:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: sg-0c4ad690bfd84ab1a  # RDS security group
      IpProtocol: tcp
      FromPort: 5432
      ToPort: 5432
      SourceSecurityGroupId: { "Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"] }
      Description: "Allow Elastic Beanstalk instances to connect to RDS" 