option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: uat
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

commands:
  01_create_virtualenv:
    command: |
      echo "Creating virtual environment with Python 3.12..."
      python3.12 -m venv /var/app/staging/.venv
      if [ $? -ne 0 ]; then
        echo "Failed to create virtual environment with Python 3.12. Trying with Python 3.9..."
        python3.9 -m venv /var/app/staging/.venv || { echo "Failed to create virtual environment."; exit 1; }
      fi
      echo "Virtual environment created successfully."
      ls -la /var/app/staging/.venv/bin/ || echo "Failed to list virtual environment bin directory."
    ignoreErrors: false 