option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2

  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    ServiceRole: aws-elasticbeanstalk-service-role
    LoadBalancerType: application

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /docs
    Port: 80
    Protocol: HTTP
    HealthCheckTimeout: 10
    HealthCheckInterval: 15 