container_commands:
  01_db_migrate:
    command: "chmod +x .ebextensions/db-migrate.sh && .ebextensions/db-migrate.sh"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    POSTGRES_HOST: '${RDS_HOSTNAME}'
    POSTGRES_PORT: '${RDS_PORT}'
    POSTGRES_DB: '${RDS_DB_NAME}'
    POSTGRES_USER: '${RDS_USERNAME}'
    POSTGRES_PASSWORD: '${RDS_PASSWORD}' 