container_commands:
  01_db_migrate:
    command: "chmod +x .ebextensions/db-migrate.sh && .ebextensions/db-migrate.sh"
    leader_only: true

# Note: Database connection parameters are now set by the deployment script
# directly as environment variables (POSTGRES_HOST, POSTGRES_PORT, etc.)
# instead of using RDS_ variables from Elastic Beanstalk's integrated RDS.

option_settings:
  aws:elasticbeanstalk:application:environment:
    POSTGRES_HOST: '${POSTGRES_HOST}'
    POSTGRES_PORT: '${POSTGRES_PORT}'
    POSTGRES_DB: '${POSTGRES_DB}'
    POSTGRES_USER: '${POSTGRES_USER}'
    POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}' 